/* line 1, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_header.scss */
header {
  margin-bottom: 2em;
}
/* line 2, ../sass/partials/_header.scss */
header h1 {
  font-size: 0.5em;
  color: #fff;
  font-size: 5em;
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
/* line 9, ../sass/partials/_header.scss */
header h1 a {
  font-family: "amatic sc";
  color: #fff;
}
/* line 13, ../sass/partials/_header.scss */
header h1 a:hover {
  color: #d0fbdc;
}
/* line 17, ../sass/partials/_header.scss */
header nav {
  text-align: center;
}
/* line 19, ../sass/partials/_header.scss */
header nav li {
  font-family: "amatic sc";
  display: inline-block;
  margin: 0 1em;
}
/* line 20, ../sass/partials/_header.scss */
header nav li a {
  font-family: "amatic sc";
  font-size: 2em;
  color: #fff;
}

/* line 1, ../sass/partials/_typography.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: "amatic sc";
  margin-bottom: 0.5em;
  color: #68c181;
}

/* line 9, ../sass/partials/_typography.scss */
h2, h3 {
  font-weight: bold;
  font-family: "amatic sc";
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #68c181;
}

/* line 17, ../sass/partials/_typography.scss */
a {
  font-family: georgia;
  text-decoration: none;
  color: inherit;
  color: #68c181;
}

/* line 24, ../sass/partials/_typography.scss */
a:hover {
  color: #d0fbdc;
}

/* line 28, ../sass/partials/_typography.scss */
p {
  margin-bottom: 1em;
  font-size: 0.8em;
  font-family: georgia;
  line-height: 1.5em;
}

/* line 35, ../sass/partials/_typography.scss */
img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 1em;
}

/* line 42, ../sass/partials/_typography.scss */
li {
  font-family: georgia;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* line 48, ../sass/partials/_typography.scss */
em {
  font-weight: bold;
  font-family: "playfair display sc";
  font-size: 1em;
  line-height: 1.5em;
}

/* line 55, ../sass/partials/_typography.scss */
fieldset {
  margin-top: 2em;
  font-family: georgia;
  line-height: 1.5em;
}
/* line 59, ../sass/partials/_typography.scss */
fieldset input {
  display: block;
  width: 30em;
  border: 1px solid #ccc;
  outline: none;
}
/* line 65, ../sass/partials/_typography.scss */
fieldset #message {
  height: 15em;
}
/* line 68, ../sass/partials/_typography.scss */
fieldset legend {
  display: none;
}
/* line 71, ../sass/partials/_typography.scss */
fieldset .button {
  width: inherit;
  margin-top: 1em;
  font-size: 1em;
  color: #fff;
  background-color: #68c181;
  border-radius: 0.5em;
  border: 0px;
}
/* line 80, ../sass/partials/_typography.scss */
fieldset .button:hover {
  background-color: #74a887;
}

/* line 1, ../sass/partials/_layout.scss */
html {
  background-image: url("../images/background.jpg");
}

/* line 5, ../sass/partials/_layout.scss */
.main-content {
  width: 90%;
  margin: 2.5%;
  padding: 2.5%;
  background-color: #fff;
  margin-bottom: 5em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
@media (min-width: 70em) {
  /* line 5, ../sass/partials/_layout.scss */
  .main-content {
    margin: 0 auto 5em auto;
    border-radius: 1em;
    padding: 1em;
    width: 60em;
  }
}

/* line 23, ../sass/partials/_layout.scss */
.parts {
  overflow: auto;
  margin-bottom: 2em;
}
/* line 24, ../sass/partials/_layout.scss */
.parts .part {
  width: 25%;
  float: left;
  text-align: center;
}

/* line 34, ../sass/partials/_layout.scss */
.bios {
  overflow: auto;
}
/* line 36, ../sass/partials/_layout.scss */
.bios h1 {
  margin: 0 5% 1em 5%;
}
/* line 39, ../sass/partials/_layout.scss */
.bios p {
  margin: 0 5% .5em 5%;
}
/* line 43, ../sass/partials/_layout.scss */
.bios .bio {
  background-color: #fff;
  border-radius: 0.5em;
  margin-bottom: 2em;
}
/* line 44, ../sass/partials/_layout.scss */
.bios .bio h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
@media (min-width: 30em) {
  /* line 43, ../sass/partials/_layout.scss */
  .bios .bio {
    width: 48%;
    margin-right: 4%;
    float: left;
  }
}
@media (min-width: 50em) {
  /* line 43, ../sass/partials/_layout.scss */
  .bios .bio {
    width: 31.5%;
    margin-right: 2.75%;
    float: left;
  }
}
/* line 61, ../sass/partials/_layout.scss */
.bios .bio .profilepic {
  width: 90%;
  margin: 1em 5%;
  border-radius: 50%;
}
@media (min-width: 30em) and (max-width: 50em) {
  /* line 67, ../sass/partials/_layout.scss */
  .bios .bio:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  /* line 72, ../sass/partials/_layout.scss */
  .bios .bio:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (min-width: 50em) {
  /* line 77, ../sass/partials/_layout.scss */
  .bios .bio:nth-child(3n+1) {
    clear: both;
  }
}
